div.fastsocialshare_container {
	line-height: 18px;
}

div.fastsocialshare-text {
	font-size: 0.8125rem;
	margin: 24px 6px 8px 0;
}

div.fastsocialshare-align-left {
	text-align: left;
}

div.fastsocialshare-align-center {
	text-align: center;
}

div.fastsocialshare-align-right {
	text-align: right;
}

div.fastsocialshare-align-left > .fastsocialshare-text {
	text-align: left;
}

div.fastsocialshare-align-center > .fastsocialshare-text {
	text-align: center;
}

div.fastsocialshare-align-right > .fastsocialshare-text {
	text-align: right;
}

div.fastsocialshare-subcontainer > div[class^="fastsocialshare-share-"] {
	display: inline-block;
	margin-bottom: 3px;
}

div.fastsocialshare-subcontainer > div.fastsocialshare-share-fbl.standard,
div.fastsocialshare-subcontainer > div.fastsocialshare-share-fbl.box_count {
    margin-bottom: 7px;
}

.fastsocialshare-share {
	display: block !important;
}

.fastsocialshare-share-tw {
    margin: 0 3px 0 0;
	vertical-align: top;
}

.fastsocialshare-share-whatsapp {
	margin: 1px 6px 0 0;
    vertical-align: top;
    font-size: 0;
}

.fastsocialshare-share-fbsh {
	vertical-align: top;
    margin: 0 6px 0 0;
}

.fastsocialshare-share-fbsh > a {
	display: inline-block;
	text-decoration:none !important;
	border-radius: 2px;
    padding: 1px 6px 1px 5px;
    font-size: 10px;
    font-weight: 400;
	max-height: 20px;
}

.fastsocialshare-share-fbsh > a > span {
    display: table-cell;
	vertical-align: bottom;
}

.fastsocialshare-share-fbsh > a > span:nth-child(1) {
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding-right: 4px;
	position: absolute;
}

.fastsocialshare-share-fbsh > a > span:nth-child(2) {
	padding-left: 9px;
	font-size: 11px;
	font-weight: 600;
	font-family: Helvetica, Arial, sans-serif;
}

.fastsocialshare-share-fbl {
	vertical-align: top;
    margin: 0 6px 0 0;
}

.fastsocialshare-share-su {
	margin: 0 6px 0 0;
}

.fastsocialshare-share-lin {
    margin: 0 6px 0 0;
}

.fastsocialshare-share-lin *.IN-none {
	display: none;
}

.fastsocialshare-share-gone {
	vertical-align: top;
    margin: 0 6px 0 0;
}

.fastsocialshare-share-gone div[id*=__plus] {
	width: auto !important;
}

.fastsocialshare-share-gone iframe {
	max-width: 60px !important;
	max-height: 20px;
}

.fastsocialshare-share-pinterest {
    margin: 0 6px 0 0;
	vertical-align: top;
	font-size: 0;
}

div.sharemebutton {
	padding: 0px 0px 0px 0px;
	float: right;
	width: 56px;
	max-height: 195px;
	text-align: center;
}

td.sharemebutton {
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	vertical-align: top;
}

td.space_right {
	padding: 0px 0px 0px 0px;
}

div.sharemebuttont {
	padding: 0px 2px 0px 0px;
	float: right;
}

td.sharemebuttont {
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	vertical-align: top;
}

td.space_right {
	padding: 0px 0px 0px 0px;
}

div.sharemebuttonf {
	padding: 2px 2px 0px 0px;
	float: right;
}

td.sharemebuttonf {
	padding-right: 2px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	vertical-align: top;
}

.fb_share_large .fb_sharecount_zero {
	-moz-border-radius: 2px 2px 2px 2px;
	background: #3B5998;
	display: block;
	height: 47px;
	margin-bottom: 2px;
	width: 53px;
}

.fb_iframe_widget span {
	position: inherit !important;
}

.fb_iframe_widget {
	position: inherit !important;
}

div.fastsocialshare-share-fbsh div.fbshare_container_counter {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

div.fastsocialshare-share-fbsh .pluginCountButton {
    background: white;
    border: 1px solid #9197a3;
    border-radius: 2px;
    color: #4e5665;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 18px;
    margin-left: 2px;
    min-width: 15px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
}

div.fastsocialshare-share-fbsh .pluginCountButtonNub {
    height: 0;
    left: -2px;
    position: relative;
    top: -17px;
    width: 5px;
    z-index: 2;
}

div.fastsocialshare-share-fbsh .pluginCountButtonNub s, div.fastsocialshare-share-fbsh .pluginCountButtonNub i {
    border-color: transparent #9197a3;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}

div.fastsocialshare-share-fbsh .pluginCountButtonNub i {
    border-right-color: #fff;
    left: 2px;
    top: -7px;
}